.bg-video video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.bg-video video::-webkit-media-controls {
    display: none !important;
}

.bg-video video::-webkit-media-controls-start-playback-button {
    display: none !important;
}